@charset "UTF-8";

/* 색상 변수 */
:root {
    /* 기본 색상(무채색) */
    --color-white: #ffffff; /* 기본 흰색 */
    --color-black: #000000; /* 기본 검은색 */
    /* 포인트 색상(유채색) */
    --color-cream: #fffcde; /* 크림색 */
    --color-coral: #ff7f50; /* 코랄색 */
    --color-lemon: #fff267; /* 레몬색 */
    --color-lime: #95ff7a; /* 라임색 */
    --color-grape: #7d5acd; /* 포도색 */
}

/* 기본 글꼴 */
@font-face {
    font-family: "RixYeoljeongdo_Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

/* 포인트 글꼴 */
@font-face {
    font-family: "PartialSansKR-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* 스타일 시트 @mixin 파일을 가져옴(SCSS only) */
@import "mixin";

/* 전역 초기 세팅 */
* {
    box-sizing: border-box;
    list-style: none;
    font-family: "RixYeoljeongdo_Regular";
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background-image: url(../images/body-bg.jpg);
    background-size: 35%;
    padding: 1%;
}

body,
.frame,
header {
    background-color: var(--color-cream);
}

/* a 태그의 브라우저 기본 스타일 변경 */
a {
    color: var(--color-black);
    text-decoration: none;
}

/* 애니메이션: 커졌다가 작아짐 */
@keyframes zoomInzoomOut {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
}

/* 애니메이션: X축을 기준으로 왼쪽으로 이동 */
@keyframes textLoop {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
