@charset "UTF-8";
/* 스타일 시트 @mixin 파일을 가져옴(SCSS only) */
/* mixin 스타일 모음: SCSS에서만 보여짐 */
/* 가는 테두리와 그림자 */
/* 굵은 테두리와 그림자 */
/* 글자에 그림자 */
/* 상단에 점선 테두리 */
/* 하단에 점선 테두리 */
/* Visual 영역: 스크롤바가 숨겨짐 */
.visual {
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러, 마이크로소프트 엣지 */
  scrollbar-width: none; /* 파이어 폭스 */
}
.visual::-webkit-scrollbar {
  display: none; /* 크롬 & 사파리 */
}

/* 타이틀 섹션 */
#section_title {
  display: block;
  width: 100%;
  padding: 7.5%;
}
#section_title h1 {
  color: var(--color-coral);
  font-size: 7rem;
}

/* 타이틀 섹션: 문구*/
.title {
  display: block;
}
.title span {
  position: relative;
  min-width: 10px;
  min-height: 0px;
}

/* 타이틀 섹션 + 로케이션 섹션의 문구 디자인 세팅 */
.typeface {
  font-family: "PartialSansKR-Regular";
  font-weight: 900;
  -webkit-text-stroke: 1px var(--color-black);
  text-shadow: 4px 4px var(--color-black);
}
.typeface:hover {
  cursor: default;
}
.typeface span {
  font-family: "PartialSansKR-Regular";
}

/* 슬라이드 섹션 */
#section_slide {
  width: 100%;
  border-top: 4.5px dashed var(--color-black);
  padding: 7.5% 0.5%;
}

/* 슬라이드 컨테이너 */
.container_slide {
  height: 50rem;
  overflow: hidden;
}

/* 슬라이드 리스트 */
.list_slide {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* 슬라이드 */
[class^=slide] {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  width: 33.3333%;
  height: 50rem;
  text-align: center;
  padding: 0 0.5%;
  transition: 0.3s;
}
[class^=slide]:hover {
  transform: scale(0.9);
  cursor: default;
}
[class^=slide] h4 {
  color: var(--color-black);
  font-size: 3rem;
  -webkit-text-stroke: 1px var(--color-lemon);
  text-shadow: 4px 4px var(--color-black);
}
[class^=slide] img {
  width: 30vw;
  border: 3.5px solid var(--color-black);
  box-shadow: 3px 3px var(--color-black);
}

/* 엘립스 섹션 + 폴라로이드 섹션의 타이포그래피 디자인 세팅 */
.typography {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 100%;
}
.typography h3 {
  color: var(--color-black);
  font-size: 3rem;
  font-family: "RixYeoljeongdo_Regular";
  animation: zoomInzoomOut 6s ease-in-out infinite;
}
.typography h3:hover {
  cursor: default;
  animation-play-state: paused;
}
.typography h3:not(:hover) {
  animation-play-state: running;
}
.typography h3 strong {
  font-size: 4rem;
}

/* 엘립스 섹션(타원형 콘텐츠) */
#section_elipse {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  width: 100%;
  max-width: 100%;
  border-top: 4.5px dashed var(--color-black);
  border-bottom: 4.5px dashed var(--color-black);
  padding: 9% 3.75%;
}
#section_elipse .typography > h3 {
  text-align: right;
}

/* 엘립스 리스트 */
.list_elipse {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  height: 100%;
  text-align: right;
}

/* 엘립스 */
[class^=elipse] {
  width: 18vw;
  height: 70vh;
  border-radius: 50%;
  border: 5px solid var(--color-black);
  box-shadow: 10px 5px var(--color-black);
  background-color: var(--color-white);
  transition: 0.5s;
}
[class^=elipse] div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

/* 1번 엘립스 */
.elipse_01 {
  margin-right: -10vw;
  z-index: 1;
}
.elipse_01 div {
  background-image: url(../images/promotion/model-shot-04.png);
}

/* 2번 엘립스 */
.elipse_02 {
  margin-right: -10vw;
  z-index: 2;
}
.elipse_02 div {
  background-image: url(../images/promotion/checkboard-pattern.png);
}

/* 3번 엘립스 */
.elipse_03 {
  z-index: 3;
}
.elipse_03 div {
  background-image: url(../images/promotion/product-shot-04.jpg);
}

/* 흐르는 글자 효과 래퍼 */
.flow_wrapper {
  display: flex;
  flex: 0 0 auto;
  font-size: 4rem;
  font-weight: bold;
  -webkit-text-stroke: 1px var(--color-black);
  text-shadow: 4px 4px var(--color-black);
  white-space: pre;
  overflow: hidden;
  padding: 7.5% 0;
  transition: 0.3s;
}
.flow_wrapper:hover .flow_text {
  animation-play-state: paused;
  cursor: pointer;
}

/* 행사 진행 날짜 문구 */
.flow_text {
  font-family: "PartialSansKR-Regular";
  animation: textLoop 25s linear infinite;
}
.flow_text span {
  font-family: "PartialSansKR-Regular";
}

/* 폴라로이드 섹션(직사각형 콘텐츠) */
#section_polaroid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  width: 100%;
  max-width: 100%;
  border-top: 4.5px dashed var(--color-black);
  padding: 12% 3.75%;
}

/* 폴라로이드 리스트 */
.list_polaroid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
}

/* 폴라로이드 */
[class^=polaroid] {
  display: grid;
  grid-template-rows: 75% 1fr;
  width: 18.5vw;
  height: 34vw;
  border: 5px solid var(--color-black);
  box-shadow: 10px 5px var(--color-black);
  background-color: var(--color-white);
  transition: 0.5s;
}

/* 1번 폴라로이드 */
.polaroid_01 {
  background-color: var(--color-grape);
  margin-top: -5vw;
  z-index: 3;
}

/* 2번 폴라로이드 */
.polaroid_02 {
  background-color: var(--color-coral);
  margin-left: -5vw;
  z-index: 1;
}

/* 3번 폴라로이드 */
.polaroid_03 {
  background-color: var(--color-lime);
  margin-top: -5vw;
  margin-left: -5vw;
  z-index: 3;
}

/* 폴라로이드 이미지 */
.img_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid var(--color-black);
}
.img_wrap img {
  width: 85%;
  height: 90%;
  margin: 0 auto;
}

/* 폴라로이드 캡션 */
.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  font-size: 2rem;
}

/* 로케이션 섹션(행사 장소/위치 지도) */
#section_location {
  width: 100%;
  border-top: 4.5px dashed var(--color-black);
  padding: 7.5%;
}
#section_location h1 {
  color: var(--color-grape);
  font-size: 5.75rem;
  text-align: right;
  margin-top: 5vw;
}

/* Kakao 지도 API 영역 */
#map {
  width: 65vw;
  height: 60vh;
  border: 5px solid var(--color-black);
  box-shadow: 10px 5px var(--color-black);
  margin: 0 auto;
}/*# sourceMappingURL=visual.css.map */